body {
    background-color: rgb(0, 43, 54);
    font-family: Helvetica, Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color:rgb(131,148,125);
}

h1, h2, h3, h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

h1 {
    color:antiquewhite;
}

h2 {
    color:rgb(38,139,210);
    border-bottom: 1px solid dimgray;
    padding-bottom: 0.25em;
}

h3 {
    color:rgb(133,153,0);
}

nav {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
}

nav h1 {
    font-size:xx-large;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

nav li {
    margin: 1em;
}

nav a {
    color:violet;
    font-weight: 600;
    text-decoration: none;
    font-size:large;
}

nav a:hover, nav a:active {
    color:darkviolet;
}

#about p {
    text-indent: 2em;
}

details {
    padding: 0.5em;
    margin-bottom: 1.5em;
    border: 1px solid dimgray;
    border-radius: 0.5em;
}

details > div {
    border-top: 1px solid dimgray;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

summary {
    width: 100%;
    cursor: pointer;
}

summary h3 {
    display: inline;
}

#tech {
    columns:2;
    font-size:smaller;
    list-style-type:square;
}

footer {
    font-size: smaller;
    text-align: center;
}