body {
    background-color: #fdf6e3;
    color:#657b83;
}

h1 {
    color: #666;
}

h2 {
    color:rgb(38,139,210);
    border-bottom: 1px solid dimgray;
}

h3 {
    color:rgb(133,153,0);
}

nav a {
    color:darkviolet;
}

nav a:hover, nav a:active {
    color:#333;
}